<div class="mt-4 mb-3" data-id="{{_id}}">
    <h3>{{title}}</h3>
    <a href="https://thehill.com{{link}}" target="_blank"><button type="button" class="btn btn-info">Go To Article</button></a>
    <button data-id="{{_id}}" type="button" class="save-forum-button btn btn-dark">Discuss This Article</button>
    <button data-id="{{_id}}" type="button" class="delete-saved-button btn btn-danger">Remove From Saved</button>
    <hr>
</div>